:root {
  --rdp-cell-size: 40px;
  --rdp-accent-color: #000 !important;
  --rdp-background-color: #e7edff;
  /* Switch to dark colors for dark themes */
  --rdp-accent-color-dark: #3003e1;
  --rdp-background-color-dark: #180270;
  /* Outline border for focused elements */
  --rdp-outline: 2px solid var(--rdp-accent-color);
  /* Outline border for focused and selected elements */
  --rdp-outline-selected: 2px solid rgba(0, 0, 0, 0.75);
}



:root {



  --xui-fonts-sans: -apple-system, BlinkMacSystemFont, 'Segoe UI','Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans','Helvetica Neue', sans-serif;
  --xui-fonts-mono: Menlo, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono','Courier New', monospace;

  --xui-fontSizes-xs: 0.75rem;
  --xui-fontSizes-sm: 0.875rem;
  --xui-fontSizes-base: 1rem;
  --xui-fontSizes-md: 1rem;
  --xui-fontSizes-lg: 1.125rem;
  --xui-fontSizes-xl: 1.25rem;
  --xui-fontSizes-2xl: 1.5rem;
  --xui-fontSizes-3xl: 1.875rem;
  --xui-fontSizes-4xl: 2.25rem;
  --xui-fontSizes-5xl: 3rem;
  --xui-fontSizes-6xl: 3.75rem;
  --xui-fontSizes-7xl: 4.5rem;
  --xui-fontSizes-8xl: 6rem;
  --xui-fontSizes-9xl: 8rem;

  --xui-fontWeights-hairline: 100;
  --xui-fontWeights-thin: 200;
  --xui-fontWeights-light: 300;
  --xui-fontWeights-normal: 400;
  --xui-fontWeights-medium: 500;
  --xui-fontWeights-semibold: 600;
  --xui-fontWeights-bold: 700;
  --xui-fontWeights-extrabold: 800;
  --xui-fontWeights-black: 900;

  --xui-lineHeights-xs: 1;
  --xui-lineHeights-sm: 1.25;
  --xui-lineHeights-base: 1.5;
  --xui-lineHeights-md: 1.5;
  --xui-lineHeights-lg: 1.75;
  --xui-lineHeights-xl: 1.75;
  --xui-lineHeights-2xl: 2;
  --xui-lineHeights-3xl: 2.25;
  --xui-lineHeights-4xl: 2.5;
  --xui-lineHeights-5xl: 1;
  --xui-lineHeights-6xl: 1;
  --xui-lineHeights-7xl: 1;
  --xui-lineHeights-8xl: 1;
  --xui-lineHeights-9xl: 1;

  --xui-letterSpacings-tighter: -0.05em;
  --xui-letterSpacings-tight: -0.025em;
  --xui-letterSpacings-normal: 0;
  --xui-letterSpacings-wide: 0.025em;
  --xui-letterSpacings-wider: 0.05em;
  --xui-letterSpacings-widest: 0.1em;

  --xui-space-0: 0rem;
  --xui-space-1: 0.125rem;
  --xui-space-2: 0.25rem;
  --xui-space-3: 0.375rem;
  --xui-space-4: 0.5rem;
  --xui-space-5: 0.625rem;
  --xui-space-6: 0.75rem;
  --xui-space-7: 0.875rem;
  --xui-space-8: 1rem;
  --xui-space-9: 1.25rem;
  --xui-space-10: 1.5rem;
  --xui-space-11: 1.75rem;
  --xui-space-12: 2rem;
  --xui-space-13: 2.25rem;
  --xui-space-14: 2.5rem;
  --xui-space-15: 2.75rem;
  --xui-space-16: 3rem;
  --xui-space-17: 3.5rem;
  --xui-space-18: 4rem;
  --xui-space-20: 5rem;
  --xui-space-24: 6rem;
  --xui-space-28: 7rem;
  --xui-space-32: 8rem;
  --xui-space-36: 9rem;
  --xui-space-40: 10rem;
  --xui-space-44: 11rem;
  --xui-space-48: 12rem;
  --xui-space-52: 13rem;
  --xui-space-56: 14rem;
  --xui-space-60: 15rem;
  --xui-space-64: 16rem;
  --xui-space-72: 18rem;
  --xui-space-80: 20rem;
  --xui-space-96: 24rem;

  --xui-space-xs: 0.5rem;
  --xui-space-sm: 0.75rem;
  --xui-space-md: 1rem;
  --xui-space-lg: 1.25rem;
  --xui-space-xl: 2.25rem;
  --xui-space-2xl: 3rem;
  --xui-space-3xl: 5rem;
  --xui-space-4xl: 10rem;
  --xui-space-5xl: 14rem;
  --xui-space-6xl: 18rem;
  --xui-space-7xl: 24rem;
  --xui-space-8xl: 32rem;
  --xui-space-9xl: 40rem;
  --xui-space-min: min-content;
  --xui-space-max: max-content;
  --xui-space-fit: fit-content;
  --xui-space-screen: 100vw;
  --xui-space-full: 100%;
  --xui-space-px: 1px;

  --xui-radii-xs: 7px;
  --xui-radii-sm: 9px;
  --xui-radii-md: 12px;
  --xui-radii-base: 14px;
  --xui-radii-lg: 14px;
  --xui-radii-xl: 18px;
  --xui-radii-2xl: 24px;
  --xui-radii-3xl: 32px;
  --xui-radii-squared: 33%;
  --xui-radii-rounded: 50%;
  --xui-radii-pill: 9999px;

  --xui-zIndices-1: 100;
  --xui-zIndices-2: 200;
  --xui-zIndices-3: 300;
  --xui-zIndices-4: 400;
  --xui-zIndices-5: 500;
  --xui-zIndices-10: 1000;
  --xui-zIndices-max: 9999;

  --xui-borderWeights-light: 1px;
  --xui-borderWeights-normal: 2px;
  --xui-borderWeights-bold: 3px;
  --xui-borderWeights-extrabold: 4px;
  --xui-borderWeights-black: 5px;

  --xui-transitions-default: all 250ms ease;
  --xui-transitions-button: background 0.25s ease 0s, color 0.25s ease 0s, border-color 0.25s ease 0s, box-shadow 0.25s ease 0s, transform 0.25s ease 0s, opacity 0.25s ease 0s;
  --xui-transitions-avatar: box-shadow 0.25s ease 0s, opacity 0.25s ease 0s;
  --xui-transitions-card: transform 0.25s ease 0s, filter 0.25s ease 0s, box-shadow 0.25s ease 0s;
  --xui-transitions-dropdownItem: background 0.12s ease, transform 0.12s ease, color 0.12s ease, box-shadow 0.12s ease 0s;

  --xui-breakpoints-xs: 650px;
  --xui-breakpoints-sm: 960px;
  --xui-breakpoints-md: 1280px;
  --xui-breakpoints-lg: 1400px;
  --xui-breakpoints-xl: 1920px;


  --xui--switchWidth: var(--xui-space-15);
  --xui--switchHeight: var(--xui-space-11);

  --xui--navbarHeight: 76px;
  --xui--navbarCompactHeight: calc(var(--xui--navbarHeight) * 0.7);

  --xui--navbarItemMaxHeight: calc(var(--xui--navbarHeight) * 0.5);
  --xui--navbarCompactItemMaxHeight: calc(var(--xui--navbarHeight) * 0.5);

  --xui--navbarBorderRadius: var(--xui-radii-lg);
  --xui--navbarPadding: var(--xui-space-10);
  --xui--navbarFloatingMargin: var(--xui-space-10);
  --xui--navbarContainerMaxWidth: var(--xui-breakpoints-lg);
  --xui--navbarShadow: var(--xui-shadows-md);
  --xui--navbarBorderWeight: var(--xui-borderWeights-light);
  --xui--navbarBlur: 10px;


}

[data-theme='light']{
  --xui-colors-blue50: #EDF5FF;
  --xui-colors-blue100: #E1EFFF;
  --xui-colors-blue200: #CEE4FE;
  --xui-colors-blue300: #B7D5F8;
  --xui-colors-blue400: #96C1F2;
  --xui-colors-blue500: #5EA2EF;
  --xui-colors-blue600: #0072F5;
  --xui-colors-blue700: #005FCC;
  --xui-colors-blue800: #004799;
  --xui-colors-blue900: #00254D;

  --xui-colors-purple50: #F7F2FD;
  --xui-colors-purple100: #F1E8FB;
  --xui-colors-purple200: #EADCF8;
  --xui-colors-purple300: #E0CBF5;
  --xui-colors-purple400: #D1B1F0;
  --xui-colors-purple500: #BC8EE9;
  --xui-colors-purple600: #7828C8;
  --xui-colors-purple700: #6622AA;
  --xui-colors-purple800: #4D1980;
  --xui-colors-purple900: #290E44;

  --xui-colors-green50: #F1FDF7;
  --xui-colors-green100: #E8FCF1;
  --xui-colors-green200: #DAFBE8;
  --xui-colors-green300: #C8F9DD;
  --xui-colors-green400: #ADF5CC;
  --xui-colors-green500: #88F1B6;
  --xui-colors-green600: #17C964;
  --xui-colors-green700: #13A452;
  --xui-colors-green800: #108944;
  --xui-colors-green900: #06371B;

  --xui-colors-yellow50: #FEF9F0;
  --xui-colors-yellow100: #FEF5E7;
  --xui-colors-yellow200: #FDEFD8;
  --xui-colors-yellow300: #FCE7C5;
  --xui-colors-yellow400: #FBDBA7;
  --xui-colors-yellow500: #F9CB80;
  --xui-colors-yellow600: #F5A524;
  --xui-colors-yellow700: #B97509;
  --xui-colors-yellow800: #925D07;
  --xui-colors-yellow900: #4E3104;

  --xui-colors-red50: #FEF0F5;
  --xui-colors-red100: #FEE7EF;
  --xui-colors-red200: #FDD8E5;
  --xui-colors-red300: #FCC5D8;
  --xui-colors-red400: #FAA8C5;
  --xui-colors-red500: #F881AB;
  --xui-colors-red600: #F31260;
  --xui-colors-red700: #B80A47;
  --xui-colors-red800: #910838;
  --xui-colors-red900: #4E041E;

  --xui-colors-cyan50: #F0FCFF;
  --xui-colors-cyan100: #E6FAFE;
  --xui-colors-cyan200: #D7F8FE;
  --xui-colors-cyan300: #C3F4FD;
  --xui-colors-cyan400: #A5EEFD;
  --xui-colors-cyan500: #7EE7FC;
  --xui-colors-cyan600: #06B7DB;
  --xui-colors-cyan700: #09AACD;
  --xui-colors-cyan800: #0E8AAA;
  --xui-colors-cyan900: #053B48;

  --xui-colors-pink50: #FFF0FB;
  --xui-colors-pink100: #FFE5F8;
  --xui-colors-pink200: #FFD6F3;
  --xui-colors-pink300: #FFC2EE;
  --xui-colors-pink400: #FFA3E5;
  --xui-colors-pink500: #FF7AD9;
  --xui-colors-pink600: #FF4ECD;
  --xui-colors-pink700: #D6009A;
  --xui-colors-pink800: #B80084;
  --xui-colors-pink900: #4D0037;

  --xui-colors-gray50: #F1F3F5;
  --xui-colors-gray100: #ECEEF0;
  --xui-colors-gray200: #E6E8EB;
  --xui-colors-gray300: #DFE3E6;
  --xui-colors-gray400: #D7DBDF;
  --xui-colors-gray500: #C1C8CD;
  --xui-colors-gray600: #889096;
  --xui-colors-gray700: #7E868C;
  --xui-colors-gray800: #687076;
  --xui-colors-gray900: #11181C;

  --xui-colors-white: #ffffff;
  --xui-colors-black: #000000;

  --xui-colors-accents0: var(--xui-colors-gray50);
  --xui-colors-accents1: var(--xui-colors-gray100);
  --xui-colors-accents2: var(--xui-colors-gray200);
  --xui-colors-accents3: var(--xui-colors-gray300);
  --xui-colors-accents4: var(--xui-colors-gray400);
  --xui-colors-accents5: var(--xui-colors-gray500);
  --xui-colors-accents6: var(--xui-colors-gray600);
  --xui-colors-accents7: var(--xui-colors-gray700);
  --xui-colors-accents8: var(--xui-colors-gray800);
  --xui-colors-accents9: var(--xui-colors-gray900);

  --xui-colors-background: var(--xui-colors-white);
  --xui-colors-backgroundAlpha: rgba(255, 255, 255, 0.8);
  --xui-colors-foreground: var(--xui-colors-black);
  --xui-colors-backgroundContrast: var(--xui-colors-white);

  --xui-colors-primary: var(--xui-colors-blue600);
  --xui-colors-primaryBorder: var(--xui-colors-blue500);
  --xui-colors-primaryBorderHover: var(--xui-colors-blue600);
  --xui-colors-primarySolidHover: var(--xui-colors-blue700);
  --xui-colors-primarySolidContrast: var(--xui-colors-white);
  --xui-colors-primaryShadow: var(--xui-colors-blue500);

  --xui-colors-primaryLight: var(--xui-colors-blue200);
  --xui-colors-primaryLightHover: var(--xui-colors-blue300);
  --xui-colors-primaryLightActive: var(--xui-colors-blue400);
  --xui-colors-primaryLightContrast: var(--xui-colors-blue600);

  --xui-colors-secondary: var(--xui-colors-purple600);
  --xui-colors-secondaryBorder: var(--xui-colors-purple500);
  --xui-colors-secondaryBorderHover: var(--xui-colors-purple600);
  --xui-colors-secondarySolidHover: var(--xui-colors-purple700);
  --xui-colors-secondarySolidContrast: var(--xui-colors-white);
  --xui-colors-secondaryShadow: var(--xui-colors-purple500);

  --xui-colors-secondaryLight: var(--xui-colors-purple200);
  --xui-colors-secondaryLightHover: var(--xui-colors-purple300);
  --xui-colors-secondaryLightActive: var(--xui-colors-purple400);
  --xui-colors-secondaryLightContrast: var(--xui-colors-purple600);

  --xui-colors-success: var(--xui-colors-green600);
  --xui-colors-successBorder: var(--xui-colors-green500);
  --xui-colors-successBorderHover: var(--xui-colors-green600);
  --xui-colors-successSolidHover: var(--xui-colors-green700);
  --xui-colors-successSolidContrast: var(--xui-colors-white);
  --xui-colors-successShadow: var(--xui-colors-green500);

  --xui-colors-successLight: var(--xui-colors-green200);
  --xui-colors-successLightHover: var(--xui-colors-green300);
  --xui-colors-successLightActive: var(--xui-colors-green400);
  --xui-colors-successLightContrast: var(--xui-colors-green700);

  --xui-colors-warning: var(--xui-colors-yellow600);
  --xui-colors-warningBorder: var(--xui-colors-yellow500);
  --xui-colors-warningBorderHover: var(--xui-colors-yellow600);
  --xui-colors-warningSolidHover: var(--xui-colors-yellow700);
  --xui-colors-warningSolidContrast: var(--xui-colors-white);
  --xui-colors-warningShadow: var(--xui-colors-yellow500);

  --xui-colors-warningLight: var(--xui-colors-yellow200);
  --xui-colors-warningLightHover: var(--xui-colors-yellow300);
  --xui-colors-warningLightActive: var(--xui-colors-yellow400);
  --xui-colors-warningLightContrast: var(--xui-colors-yellow700);

  --xui-colors-error: var(--xui-colors-red600);
  --xui-colors-errorBorder: var(--xui-colors-red500);
  --xui-colors-errorBorderHover: var(--xui-colors-red600);
  --xui-colors-errorSolidHover: var(--xui-colors-red700);
  --xui-colors-errorSolidContrast: var(--xui-colors-white);
  --xui-colors-errorShadow: var(--xui-colors-red500);

  --xui-colors-errorLight: var(--xui-colors-red200);
  --xui-colors-errorLightHover: var(--xui-colors-red300);
  --xui-colors-errorLightActive: var(--xui-colors-red400);
  --xui-colors-errorLightContrast: var(--xui-colors-red600);

  --xui-colors-neutral: var(--xui-colors-gray600);
  --xui-colors-neutralBorder: var(--xui-colors-gray400);
  --xui-colors-neutralBorderHover: var(--xui-colors-gray500);
  --xui-colors-neutralSolidHover: var(--xui-colors-gray600);
  --xui-colors-neutralSolidContrast: var(--xui-colors-white);
  --xui-colors-neutralShadow: var(--xui-colors-gray400);

  --xui-colors-neutralLight: var(--xui-colors-gray100);
  --xui-colors-neutralLightHover: var(--xui-colors-gray200);
  --xui-colors-neutralLightActive: var(--xui-colors-gray300);
  --xui-colors-neutralLightContrast: var(--xui-colors-gray800);

  --xui-colors-gradient: linear-gradient(112deg, var(--xui-colors-cyan600) -63.59%, var(--xui-colors-pink600) -20.3%, var(--xui-colors-blue600) 70.46%);

  --xui-colors-text: var(--xui-colors-gray900);
  --xui-colors-link: var(--xui-colors-blue600);
  --xui-colors-codeLight: var(--xui-colors-pink100);
  --xui-colors-code: var(--xui-colors-pink600);
  --xui-colors-selection: var(--xui-colors-blue200);
  --xui-colors-border: rgba(0, 0, 0, 0.15);

  --xui-colors-headerBackground: hsla(0,0%,100%,0.8);
  --xui-colors-menuBackground: rgba(255, 255, 255, 0.8);
  --xui-colors-headerIconColor: var(--xui-colors-accents4);
  --xui-colors-codeBackground: #363449;
  --xui-colors-codeComment: var(--xui-colors-accents7);
  --xui-colors-codeCopyIconColor: var(--xui-colors-accents2);

  --xui-colors-cardBackground: var(--xui-colors-white);
  --xui-colors-codeHighlight: hsl(243, 16%, 30%);
  --xui-colors-backgroundBlur: rgba(255, 255, 255, 0.3);
  --xui-colors-blockLinkColor: #FF1CF7;
  --xui-colors-blockLinkBackground: var(--xui-colors-accents1);
  --xui-colors-blockLinkHoverBackground: #FFD1ED;

  --xui-shadows-xs: 0 2px 8px 1px rgb(104 112 118 / 0.07), 0 1px 1px -1px rgb(104 112 118 / 0.04);
  --xui-shadows-sm: 0 2px 8px 2px rgb(104 112 118 / 0.07), 0 2px 4px -1px rgb(104 112 118 / 0.04);
  --xui-shadows-md: 0 12px 20px 6px rgb(104 112 118 / 0.08);
  --xui-shadows-lg: 0 12px 34px 6px rgb(104 112 118 / 0.18);
  --xui-shadows-xl: 0 25px 65px 0px rgb(104 112 118 / 0.35);

  --xui-dropShadows-xs: drop-shadow(0 2px 4px rgb(104 112 118 / 0.07)) drop-shadow(0 1px 1px rgb(104 112 118 / 0.04));
  --xui-dropShadows-sm: drop-shadow(0 2px 8px rgb(104 112 118 / 0.07)) drop-shadow(0 2px 4px rgb(104 112 118 / 0.04));
  --xui-dropShadows-md: drop-shadow(0 4px 12px rgb(104 112 118 / 0.08)) drop-shadow(0 20px 8px rgb(104 112 118 / 0.04));
  --xui-dropShadows-lg: drop-shadow(0 12px 24px rgb(104 112 118 / 0.15)) drop-shadow(0 12px 14px rgb(104 112 118 / 0.1));
  --xui-dropShadows-xl: drop-shadow(0 25px 34px rgb(104 112 118 / 0.35));

  --xui-colors-navbar: var(--xui-colors-gray900);
  --xui-primary-sidebar-background: var(--xui-colors-gray900);
  --xui-primary-sidebar-foreground: var(--xui-colors-white);
  --xui-primary-sidebar-border: var(--xui-colors-black);
  --xui-primary-sidebar-active-background: var(--xui-colors-yellow600);
  --xui-primary-sidebar-active-foreground: var(--xui-colors-black);


  --xui-secondary-sidebar-background: var(--xui-colors-gray100);
  --xui-secondary-sidebar-foreground: var(--xui-colors-black);
  --xui-secondary-sidebar-border: var(--xui-colors-gray300);
  --xui-secondary-sidebar-active-background: var(--xui-colors-gray900);
  --xui-secondary-sidebar-active-foreground: var(--xui-colors-white);
  --xui-colors-bullet: var(--xui-colors-gray50);

  --xui--switchColor: var(--xui-colors-primary);
  --xui--switchColorShadow: var(--xui-colors-primaryShadow);
  --xui--switchColorHover: var(--xui-colors-primarySolidHover);

  --xui--navbarTextColor: var(--xui-colors-text);
  --xui--navbarBackgroundColor: var(--xui-colors-background);
  --xui--navbarBlurBackgroundColor: var(--xui-colors-backgroundAlpha);
  --xui--navbarBorderColor: var(--xui-colors-border);

}

[data-theme='dark'] {
  --xui-colors-blue50: #10253E;
  --xui-colors-blue100: #102C4C;
  --xui-colors-blue200: #0F3158;
  --xui-colors-blue300: #0D3868;
  --xui-colors-blue400: #0A4281;
  --xui-colors-blue500: #0952A5;
  --xui-colors-blue600: #0072F5;
  --xui-colors-blue700: #3694FF;
  --xui-colors-blue800: #3694FF;
  --xui-colors-blue900: #EAF4FF;

  --xui-colors-purple50: #1F0A33;
  --xui-colors-purple100: #240C3C;
  --xui-colors-purple200: #2E0F4D;
  --xui-colors-purple300: #3B1362;
  --xui-colors-purple400: #451773;
  --xui-colors-purple500: #571D91;
  --xui-colors-purple600: #7828C8;
  --xui-colors-purple700: #9750DD;
  --xui-colors-purple800: #B583E7;
  --xui-colors-purple900: #F7ECFC;

  --xui-colors-green50: #042F14;
  --xui-colors-green100: #06381B;
  --xui-colors-green200: #074A24;
  --xui-colors-green300: #0A6130;
  --xui-colors-green400: #0B7439;
  --xui-colors-green500: #0F9549;
  --xui-colors-green600: #17C964;
  --xui-colors-green700: #41EC8B;
  --xui-colors-green800: #78F2AD;
  --xui-colors-green900: #ECFDF4;

  --xui-colors-yellow50: #3A2503;
  --xui-colors-yellow100: #442B03;
  --xui-colors-yellow200: #583804;
  --xui-colors-yellow300: #704705;
  --xui-colors-yellow400: #845306;
  --xui-colors-yellow500: #A66908;
  --xui-colors-yellow600: #F5A524;
  --xui-colors-yellow700: #F6AD37;
  --xui-colors-yellow800: #F8C572;
  --xui-colors-yellow900: #FEF7EC;

  --xui-colors-red50: #300313;
  --xui-colors-red100: #300313;
  --xui-colors-red200: #44041A;
  --xui-colors-red300: #5C0523;
  --xui-colors-red400: #6F062B;
  --xui-colors-red500: #910838;
  --xui-colors-red600: #F31260;
  --xui-colors-red700: #F4256D;
  --xui-colors-red800: #F75F94;
  --xui-colors-red900: #FDD8E5;

  --xui-colors-cyan50: #012A32;
  --xui-colors-cyan100: #023A46;
  --xui-colors-cyan200: #024B5A;
  --xui-colors-cyan300: #036072;
  --xui-colors-cyan400: #037086;
  --xui-colors-cyan500: #048EA9;
  --xui-colors-cyan600: #06B7DB;
  --xui-colors-cyan700: #33D9FA;
  --xui-colors-cyan800: #6FE4FB;
  --xui-colors-cyan900: #EBFBFE;

  --xui-colors-pink50: #330025;
  --xui-colors-pink100: #470033;
  --xui-colors-pink200: #5C0042;
  --xui-colors-pink300: #750054;
  --xui-colors-pink400: #8A0063;
  --xui-colors-pink500: #AD007C;
  --xui-colors-pink600: #FF4ECD;
  --xui-colors-pink700: #FF2EC4;
  --xui-colors-pink800: #FF6BD5;
  --xui-colors-pink900: #FFEBF9;

  --xui-colors-gray50: #16181A;
  --xui-colors-gray100: #26292B;
  --xui-colors-gray200: #2B2F31;
  --xui-colors-gray300: #313538;
  --xui-colors-gray400: #3A3F42;
  --xui-colors-gray500: #4C5155;
  --xui-colors-gray600: #697177;
  --xui-colors-gray700: #787F85;
  --xui-colors-gray800: #9BA1A6;
  --xui-colors-gray900: #ECEDEE;

  --xui-colors-white: #ffffff;
  --xui-colors-black: #000000;

  --xui-colors-accents0: var(--xui-colors-gray50);
  --xui-colors-accents1: var(--xui-colors-gray100);
  --xui-colors-accents2: var(--xui-colors-gray200);
  --xui-colors-accents3: var(--xui-colors-gray300);
  --xui-colors-accents4: var(--xui-colors-gray400);
  --xui-colors-accents5: var(--xui-colors-gray500);
  --xui-colors-accents6: var(--xui-colors-gray600);
  --xui-colors-accents7: var(--xui-colors-gray700);
  --xui-colors-accents8: var(--xui-colors-gray800);
  --xui-colors-accents9: var(--xui-colors-gray900);

  --xui-colors-background: var(--xui-colors-black);
  --xui-colors-backgroundAlpha: rgba(0, 0, 0, 0.6);
  --xui-colors-foreground: var(--xui-colors-white);
  --xui-colors-backgroundContrast: var(--xui-colors-accents0);

  --xui-colors-primary: var(--xui-colors-blue600);
  --xui-colors-primaryBorder: var(--xui-colors-blue500);
  --xui-colors-primaryBorderHover: var(--xui-colors-blue600);
  --xui-colors-primarySolidHover: var(--xui-colors-blue700);
  --xui-colors-primarySolidContrast: var(--xui-colors-white);
  --xui-colors-primaryShadow: var(--xui-colors-blue500);

  --xui-colors-primaryLight: var(--xui-colors-blue50);
  --xui-colors-primaryLightHover: var(--xui-colors-blue100);
  --xui-colors-primaryLightActive: var(--xui-colors-blue200);
  --xui-colors-primaryLightContrast: var(--xui-colors-blue600);

  --xui-colors-secondary: var(--xui-colors-purple700);
  --xui-colors-secondaryBorder: var(--xui-colors-purple500);
  --xui-colors-secondaryBorderHover: var(--xui-colors-purple600);
  --xui-colors-secondarySolidHover: var(--xui-colors-purple700);
  --xui-colors-secondarySolidContrast: var(--xui-colors-white);
  --xui-colors-secondaryShadow: var(--xui-colors-purple500);

  --xui-colors-secondaryLight: var(--xui-colors-purple50);
  --xui-colors-secondaryLightHover: var(--xui-colors-purple100);
  --xui-colors-secondaryLightActive: var(--xui-colors-purple200);
  --xui-colors-secondaryLightContrast: var(--xui-colors-purple800);

  --xui-colors-success: var(--xui-colors-green600);
  --xui-colors-successBorder: var(--xui-colors-green500);
  --xui-colors-successBorderHover: var(--xui-colors-green600);
  --xui-colors-successSolidHover: var(--xui-colors-green700);
  --xui-colors-successSolidContrast: var(--xui-colors-white);
  --xui-colors-successShadow: var(--xui-colors-green500);

  --xui-colors-successLight: var(--xui-colors-green50);
  --xui-colors-successLightHover: var(--xui-colors-green100);
  --xui-colors-successLightActive: var(--xui-colors-green200);
  --xui-colors-successLightContrast: var(--xui-colors-green700);

  --xui-colors-warning: var(--xui-colors-yellow600);
  --xui-colors-warningBorder: var(--xui-colors-yellow500);
  --xui-colors-warningBorderHover: var(--xui-colors-yellow600);
  --xui-colors-warningSolidHover: var(--xui-colors-yellow700);
  --xui-colors-warningSolidContrast: var(--xui-colors-white);
  --xui-colors-warningShadow: var(--xui-colors-yellow500);

  --xui-colors-warningLight: var(--xui-colors-yellow50);
  --xui-colors-warningLightHover: var(--xui-colors-yellow100);
  --xui-colors-warningLightActive: var(--xui-colors-yellow200);
  --xui-colors-warningLightContrast: var(--xui-colors-yellow700);

  --xui-colors-error: var(--xui-colors-red600);
  --xui-colors-errorBorder: var(--xui-colors-red500);
  --xui-colors-errorBorderHover: var(--xui-colors-red600);
  --xui-colors-errorSolidHover: var(--xui-colors-red700);
  --xui-colors-errorSolidContrast: var(--xui-colors-white);
  --xui-colors-errorShadow: var(--xui-colors-red500);

  --xui-colors-errorLight: var(--xui-colors-red50);
  --xui-colors-errorLightHover: var(--xui-colors-red100);
  --xui-colors-errorLightActive: var(--xui-colors-red200);
  --xui-colors-errorLightContrast: var(--xui-colors-red700);

  --xui-colors-neutral: var(--xui-colors-gray600);
  --xui-colors-neutralBorder: var(--xui-colors-gray400);
  --xui-colors-neutralBorderHover: var(--xui-colors-gray500);
  --xui-colors-neutralSolidHover: var(--xui-colors-gray600);
  --xui-colors-neutralSolidContrast: var(--xui-colors-white);
  --xui-colors-neutralShadow: var(--xui-colors-gray400);

  --xui-colors-neutralLight: var(--xui-colors-gray200);
  --xui-colors-neutralLightHover: var(--xui-colors-gray300);
  --xui-colors-neutralLightActive: var(--xui-colors-gray400);
  --xui-colors-neutralLightContrast: var(--xui-colors-gray800);

  --xui-colors-gradient: linear-gradient(112deg, var(--xui-colors-cyan600) -63.59%, var(--xui-colors-pink600) -20.3%, var(--xui-colors-blue600) 70.46%);

  --xui-colors-text: var(--xui-colors-gray900);
  --xui-colors-link: var(--xui-colors-blue700);
  --xui-colors-codeLight: var(--xui-colors-cyan50);
  --xui-colors-code: var(--xui-colors-cyan600);
  --xui-colors-selection: var(--xui-colors-pink800);
  --xui-colors-border: rgba(255, 255, 255, 0.15);

  --xui-colors-headerBackground: rgba(0,0,0,0.5);
  --xui-colors-menuBackground: rgba(0,0,0,0.5);
  --xui-colors-headerIconColor: var(--xui-colors-accents8);
  --xui-colors-codeBackground: #111111;
  --xui-colors-codeComment: var(--xui-colors-accents6);
  --xui-colors-codeCopyIconColor: var(--xui-colors-accents7);

  --xui-colors-cardBackground: var(--xui-colors-accents0);
  --xui-colors-codeHighlight: hsl(0, 0%, 15%);
  --xui-colors-backgroundBlur: rgba(255, 255, 255, 0.1);
  --xui-colors-blockLinkColor: #FFA4E3;
  --xui-colors-blockLinkBackground: var(--xui-colors-accents1);
  --xui-colors-blockLinkHoverBackground: #55057A;

  --xui-shadows-xs: 0 2px 8px 1px rgb(0 0 0 / 0.07), 0 1px 1px -1px rgb(0 0 0 / 0.04);
  --xui-shadows-sm: 0 2px 8px 2px rgb(0 0 0 / 0.07), 0 2px 4px -1px rgb(0 0 0 / 0.04);
  --xui-shadows-md: 0 12px 20px 6px rgb(0 0 0 / 0.08);
  --xui-shadows-lg: 0 12px 34px 6px rgb(0 0 0 / 0.18);
  --xui-shadows-xl: 0 25px 65px 0px rgb(0 0 0 / 0.35);

  --xui-dropShadows-xs: drop-shadow(0 2px 4px rgb(0 0 0 / 0.07)) drop-shadow(0 1px 1px rgb(0 0 0 / 0.04));
  --xui-dropShadows-sm: drop-shadow(0 2px 8px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 4px rgb(0 0 0 / 0.04));
  --xui-dropShadows-md: drop-shadow(0 4px 12px rgb(0 0 0 / 0.08)) drop-shadow(0 20px 8px rgb(0 0 0 / 0.04));
  --xui-dropShadows-lg: drop-shadow(0 12px 24px rgb(0 0 0 / 0.15)) drop-shadow(0 12px 14px rgb(0 0 0 / 0.1));
  --xui-dropShadows-xl: drop-shadow(0 25px 34px rgb(0 0 0 / 0.35));

  --xui-colors-navbar: var(--xui-colors-yellow600);
  --xui-colors-bullet: var(--xui-colors-gray50);
}



html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type='checkbox'],
[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

input[type=file], /* FF, IE7+, chrome (except button) */
input[type=file]::-webkit-file-upload-button {
  /* chromes and blink button */
  cursor: pointer;
}

*,
*::after,
*::before {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 400;
  margin: 0;
  padding: 0;
  background: var(--xui-colors-background);
  color: var(--xui-colors-foreground);
  -webkit-touch-callout: none;
  user-select: none;
}

html,
body {
  overflow-x: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin: 10px 0;
}

h1 {
  font-size: 1.6rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 0.8rem;
}

h5 {
  font-size: 0.4rem;
}

h6 {
  font-size: 1rem;
}

hr {
  border: 0;
  border-top: 1px solid #f3f3f3;
  margin: 20px 0;
}

a {
  color: inherit;
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

p {
  margin: 0 0 20px 0;
  font-weight: 400;
  font-size: 15px;
}

::-webkit-scrollbar-track {
  @media only screen and (min-width: 992px) {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #000;
  }
}

::-webkit-scrollbar {
  @media only screen and (min-width: 992px) {
    width: 8px;
    background-color: #000;
  }
}

::-webkit-scrollbar-thumb {
  @media only screen and (min-width: 992px) {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f3f3f3;
    background-clip: content-box;
  }
}

input[type='hidden'] {
  margin: 0 !important;
  line-height: 0 !important;
  padding: 0 !important;
  width: 0 !important;
  height: 0 !important;
}

button {
  appearance: none;
  border: none;
  background: none;
}

.table {
  width: 100%;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.thead > .tr {
  background-color: #000;
  color: #fff;
  text-align: left;
  font-weight: bold;
  border: 1px solid #000;
}

.td {
  padding: 8px;
  border-right: 1px solid #000;
  text-align: center;
}

.td:last-child {
  border: none;
}

.th {
  padding: 8px;
  text-align: center;
}

.tbody > .tr {
  border: 1px solid #000;
  border-bottom: 1px solid #000;
}

.tbody > .tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.tbody > .tr:last-of-type {
  border-bottom: 2px solid #000;
}

#nprogress .bar {
  background: #ff6239 !important;
  /* background: #3bdf72 !important; */
  height: 4px !important;
}

.profileImg {
  width: 40px;
  height: auto;
  border-radius: 50%;
}

.buttonCover {
  width: 100px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.davinci_logo {
  height: 24px;
  width: auto;
}

.scrollingLink {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  z-index: -1;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
